<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md">
      <h1>STUDENT DATA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search Data.." title="Type in a name" />
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success form-control" [useExistingCss]="true" styleSheetFile="node_modules/bootstrap/dist/css/bootstrap.min.css" printSectionId="print-section"  
    ngxPrint><i class="fa fa-print" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="table-responsive"  id="print-section">
    <br>
    <table class="table table-hover table-bordered bg-white rounded responsive" id="myTable" >
      <thead class="text-white">
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Course</th>
          <th>Birthdate</th>
          <th>Email</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of patron">
          <td>{{u.stud_id}}</td>
          <td>{{u.Name}}</td>
          <td>{{u.course}}</td>
          <td>{{u.bdate}}</td>
          <td>{{u.email}}</td>
          <td class="text-center"><button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/sidenav/viewstudents',u.id_num]">View Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
