<div class="container-fluid" id="print-section">
  <br>
  <table class="table table-hover table-bordered align-middle mb-3 bg-white rounded">
    <thead class="text-white">
      <tr class="row">
        <th class="col-md">Student ID</th>
        <th class="col-md">Name</th>
        <th class="col-md">Course</th>
        <th class="col-md">Status</th>
        <th class="col-md">Purpose</th>
        <th class="col-md">Position</th>
        <th class="col-md">Actions</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
  <br>
</div>

<button class="btn btn-success" [useExistingCss]="true" styleSheetFile="node_modules/bootstrap/dist/css/bootstrap.min.css" printSectionId="print-section"  
ngxPrint>Print</button>