
<body>
<form [formGroup]="librarylogForm" (ngSubmit)="Login()">
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mt-5" style="text-transform: uppercase; font-weight:700 ; color: #245166;"><i class="fa fa-user fa-3x" aria-hidden="true" ></i> <br>Library Log System</h2>
        <hr>
        <div class="text-center mb-5 text-dark">Log-In Page for Librarian</div>
        <div class="card bg-light">
          <br><br>
            <div class="card-body">
              <div class="container" style="width: 24rem;">
                <!-- <div class="text-center">
                  <img src="assets/login.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                    width="200px" alt="profile">
                    <i class="fa fa-user fa-5x" aria-hidden="true" ></i>
                </div> -->
                
                <div class="mb-3">
                  <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" formControlName="email">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" id="password" formControlName="password">
                </div>
                <a>
                <div class="text-center"><a><button type="submit" class="btn btn-color px-5 mb-5 w-100" style="background-color: #245166;">
                   Login</button></a>
                </div>
              </a>
              <div id="emailHelp" class="form-text text-center mb-5 text-dark">  
                <a routerLink="/signup" class="fw-bold" style="color: #245166;">Not Registered? Create an Account</a>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
</body>