<body>
  <form [formGroup]="logForm" (ngSubmit)="StudLogin()">
    <div class="container">
      <div class="row">

        <div class="col-md-6 offset-md-3">
          <h2 class="text-center mt-5" style="text-transform: uppercase; font-weight:700 ; color: #245166;"><i
              class="fa fa-user fa-3x" aria-hidden="true"></i> <br>Library Log System</h2>
          <hr>
          <div class="card bg-light">
            <br><br>
            <div class="card-body">
              <div class="container" style="width: 32rem;">
                <div class="alert alert-danger" role="alert" *ngIf="divshow">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  Sorry, Try Again!
                </div>
                <div class="row">
                  <div class="col-md">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                        formControlName="studID">
                      <label for="floatingInput">Student ID (Press Enter):</label>
                    </div>
                  </div>
                </div>
                <!-- <form [formGroup]="log" (ngSubmit)="StudentLog()"> -->
                <!-- <div *ngIf="showpurpose"> -->
                  <!-- <div class="row">
                    <div class="col-md">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="id" d>
                        <label for="floatingInput">ID</label>
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md">
                      <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" formControlName="timelog" placeholder="name@example.com">
                        <label for="floatingInput">Date Log:</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating mb-3">
                        <input type="time" class="form-control" id="floatingPassword" formControlName="datelog" placeholder="Password">
                        <label for="floatingPassword">Time Log:</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md">
                      <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" formControlName="purposelog" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Purpose</label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mb-3">
                    <button type="submit" class="btn btn-color px-5 mb-5 w-100" style="background-color: #245166;">
                      Login
                    </button>
                  </div>
                <!-- </div> -->
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>