<!-- <div class="alert alert-success">
    <h2></h2>
</div>
<div class="alert alert-secondary">
    <h3>Upload Product Image</h3>
    <form [formGroup]="PictureForm">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" required formControlName="files"
                    (change)="onFileSelected($event)" />

            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                    [attr.aria-valuenow]="" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <button class="btn btn-outline-primary" type="submit">POST</button>
        </div>
    </form>
    <div class="card-group">
        <div class="card m-3" *ngFor="let pic of images">
            <img>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                <button class="btn btn-sm p-0 btn-secondary">X</button>
            </span>
        </div>
    </div>
</div> -->
<!-- <mat-form-field class="example-form-field" appearance="fill">
  <mat-label>First campaign</mat-label>
  <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
    [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field> -->